<h1>Hello <%=@user.username %>!</h1>
<a href="/foods/new"><button type="button" class="btn btn-default">Create A New Food</button></a>



<h1> Your current list food(s) and quantity(ies):</h1>
<div class="col-6">
    <% @foods.each do |food|%>
    <% if food.user_id == @user.id %>
    <div> <h2><%= food.name %></h2> <h2><%= food.quantity %></h2></div>
    <a href="/foods/<%=food.id%>/edit"><i class="fa fa-pencil"></i> Edit Food</a>
    <a href="/foods/<%=food.id%>/delete"><i class="fa fa-times"></i> Delete Food</a>
    <h4><a href="orders/new/<%=food.id%>"><i class="fa fa-plus"></i> New Order</a></h4>

    <% food.orders.each do |order| %>
    <h4></i> <%= order.name %>
    <a href="/orders/<%= order.id %>/edit"><i class="fa fa-pencil"></i>Edit Order</a>
    <a href="/orders/<%= order.id %>/delete"><i class="fa fa-times"></i>Delete Order</a>
    </h4>
    <% end %>
    <% end %>
    <% end %>
</div>