<h1>Edit Food</h1>

<form method="post" action="/foods/<%=@food.id%>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input type="text" name="name" value="<%=@food.name%>"><br><br>
<input type="number" min='0' name="quantity" placeholder="Quantity"><br><br>

<% @food.orders.each do |order| %>
<h1><i class="fa fa-minus"></i><%= order.name %></h1>
<a href="/orders/<%= order.id %>/edit"><i class="fa fa-pencil"></i> Edit Order</a>
<a href="/orders/<%= order.id %>/delete"><i class="fa fa-times"></i> Delete Order</a>
<% end %>

<br>
<input class="btn btn-primary" type="submit" name="update" value="Update">
</form>
